{% extends 'base.html' %}
{% load static %}


{% block content %}

<div id="page" class="">
    <!-- Catalog -->
    <div class="">
        <div class="">

            <div class="title01">
                <div class=" title01-in"
                    style="display: flex; align-items: center;  justify-content: space-between; background-color: #FFF5C7; border-radius: 15px; height: 36px; margin: 12px 0;">
                    
                    <h2 class="ico-list">About</h2>
                </div>
            </div>


            <div class="row" style="min-height: 120px">

                    <div class="col-md-3">
                        McMil Made It Haha 
                    </div>
 
            </div>

            <!-- /box -->
            <hr class="noscreen" />
        </div>
        <!-- /col-l -->
        <!-- Sidebar -->


        <!-- /col-r -->
    </div>
    <!-- /box -->


   
</div>

{% endblock %}


<!-- 9576844444444444444444444444444444 -->

<!-- /page -->