{% extends 'base.html' %}

{% block content %}

  <!-- Content -->
  <div id="page" class="box">
    <div class="title01-top"></div>
    <div class="title01">
      <div class="title01-in">
        <h3 class="ico-info">Travel</h3>
      </div>
    </div>
    <div class="title01-bottom"></div>
    <p class="bb nomt"><a href="#">Catalog</a> &raquo; <strong>Travel</strong></p>
    <!-- Subcategories -->
    <h4>Subcategories:</h4>
    <ul class="ul-categories box">
      <li><a href="#">Lorem ipsum dolor</a> (125)</li>
      <li><a href="#">Lorem ipsum dolor</a> (125)</li>
      <li><a href="#">Lorem ipsum dolor</a> (125)</li>
      <li><a href="#">Lorem ipsum dolor</a> (125)</li>
      <li><a href="#">Lorem ipsum dolor</a> (125)</li>
      <li><a href="#">Lorem ipsum dolor</a> (125)</li>
      <li><a href="#">Lorem ipsum dolor</a> (125)</li>
      <li><a href="#">Lorem ipsum dolor</a> (125)</li>
      <li><a href="#">Lorem ipsum dolor</a> (125)</li>
      <li><a href="#">Lorem ipsum dolor</a> (125)</li>
      <li><a href="#">Lorem ipsum dolor</a> (125)</li>
      <li><a href="#">Lorem ipsum dolor</a> (125)</li>
      <li><a href="#">Lorem ipsum dolor</a> (125)</li>
      <li><a href="#">Lorem ipsum dolor</a> (125)</li>
      <li><a href="#">Lorem ipsum dolor</a> (125)</li>
      <li><a href="#">Lorem ipsum dolor</a> (125)</li>
      <li><a href="#">Lorem ipsum dolor</a> (125)</li>
      <li><a href="#">Lorem ipsum dolor</a> (125)</li>
    </ul>
    <!-- Pagination -->
    <div class="title01-top"></div>
    <div class="title01">
      <div class="title01-in">
        <p class="pagination"> <a href="#">&laquo; Previous</a> &nbsp; <a href="#">1</a><span class="noscreen">,</span> <a href="#">2</a><span class="noscreen">,</span> <strong>3</strong><span class="noscreen">,</span> <a href="#">4</a><span class="noscreen">,</span> <a href="#">5</a><span class="noscreen">,</span> <a href="#">6</a><span class="noscreen">,</span> <a href="#">7</a><span class="noscreen">,</span> &nbsp; <a href="#">Next &raquo;</a> </p>
      </div>
    </div>
    <div class="title01-bottom"></div>
    <p>Results <strong>1 - 10</strong> of <strong>520</strong>.</p>
    <!-- Sponsored links -->
    <div class="title03-top"></div>
    <div class="title03">
      <h3 class="nom">Sponsored links:</h3>
      <ol class="cat-results">
        <li>
          <h4><a href="#">Lorem ipsum dolor sit amete</a> &ndash; <span><a href="#" class="ico-card">Details</a></span></h4>
          <p><span class="high">http://www.server.com/index.php</span><br />
            Lorem ipsum dolor sit amete, consectetuer adipiscing elit. Integer eget risus a ante gravida suscipit. Maecenas luctus metus. Pellentesque habitant esti. Lorem ipsum dolor sit amete, consectetuer adipiscing elit. Integer eget risus a ante gravida suscipit. Maecenas luctus metus. Pellentesque esti.</p>
        </li>
        <li>
          <h4><a href="#">Lorem ipsum dolor sit amete</a> &ndash; <span><a href="#" class="ico-card">Details</a></span></h4>
          <p><span class="high">http://www.server.com/index.php</span><br />
            Lorem ipsum dolor sit amete, consectetuer adipiscing elit. Integer eget risus a ante gravida suscipit. Maecenas luctus metus. Pellentesque habitant esti. Lorem ipsum dolor sit amete, consectetuer adipiscing elit. Integer eget risus a ante gravida suscipit. Maecenas luctus metus. Pellentesque esti.</p>
        </li>
        <li>
          <h4><a href="#">Lorem ipsum dolor sit amete</a> &ndash; <span><a href="#" class="ico-card">Details</a></span></h4>
          <p><span class="high">http://www.server.com/index.php</span><br />
            Lorem ipsum dolor sit amete, consectetuer adipiscing elit. Integer eget risus a ante gravida suscipit. Maecenas luctus metus. Pellentesque habitant esti. Lorem ipsum dolor sit amete, consectetuer adipiscing elit. Integer eget risus a ante gravida suscipit. Maecenas luctus metus. Pellentesque esti.</p>
        </li>
      </ol>
    </div>
    <div class="title03-bottom"></div>
    <ol class="cat-results">
      <li>
        <h4><a href="#">Lorem ipsum dolor sit amete</a> &ndash; <span><a href="#" class="ico-card">Details</a></span></h4>
        <p><span class="high">http://www.server.com/index.php</span><br />
          Lorem ipsum dolor sit amete, consectetuer adipiscing elit. Integer eget risus a ante gravida suscipit. Maecenas luctus metus. Pellentesque habitant esti. Lorem ipsum dolor sit amete, consectetuer adipiscing elit. Integer eget risus a ante gravida suscipit. Maecenas luctus metus. Pellentesque esti.</p>
      </li>
      <li>
        <h4><a href="#">Lorem ipsum dolor sit amete</a> &ndash; <span><a href="#" class="ico-card">Details</a></span></h4>
        <p><span class="high">http://www.server.com/index.php</span><br />
          Lorem ipsum dolor sit amete, consectetuer adipiscing elit. Integer eget risus a ante gravida suscipit. Maecenas luctus metus. Pellentesque habitant esti. Lorem ipsum dolor sit amete, consectetuer adipiscing elit. Integer eget risus a ante gravida suscipit. Maecenas luctus metus. Pellentesque esti.</p>
      </li>
      <li>
        <h4><a href="#">Lorem ipsum dolor sit amete</a> &ndash; <span><a href="#" class="ico-card">Details</a></span></h4>
        <p><span class="high">http://www.server.com/index.php</span><br />
          Lorem ipsum dolor sit amete, consectetuer adipiscing elit. Integer eget risus a ante gravida suscipit. Maecenas luctus metus. Pellentesque habitant esti. Lorem ipsum dolor sit amete, consectetuer adipiscing elit. Integer eget risus a ante gravida suscipit. Maecenas luctus metus. Pellentesque esti.</p>
      </li>
      <li>
        <h4><a href="#">Lorem ipsum dolor sit amete</a> &ndash; <span><a href="#" class="ico-card">Details</a></span></h4>
        <p><span class="high">http://www.server.com/index.php</span><br />
          Lorem ipsum dolor sit amete, consectetuer adipiscing elit. Integer eget risus a ante gravida suscipit. Maecenas luctus metus. Pellentesque habitant esti. Lorem ipsum dolor sit amete, consectetuer adipiscing elit. Integer eget risus a ante gravida suscipit. Maecenas luctus metus. Pellentesque esti.</p>
      </li>
      <li>
        <h4><a href="#">Lorem ipsum dolor sit amete</a> &ndash; <span><a href="#" class="ico-card">Details</a></span></h4>
        <p><span class="high">http://www.server.com/index.php</span><br />
          Lorem ipsum dolor sit amete, consectetuer adipiscing elit. Integer eget risus a ante gravida suscipit. Maecenas luctus metus. Pellentesque habitant esti. Lorem ipsum dolor sit amete, consectetuer adipiscing elit. Integer eget risus a ante gravida suscipit. Maecenas luctus metus. Pellentesque esti.</p>
      </li>
    </ol>
    <!-- Pagination -->
    <div class="title01-top"></div>
    <div class="title01">
      <div class="title01-in">
        <p class="pagination"> <a href="#">&laquo; Previous</a> &nbsp; <a href="#">1</a><span class="noscreen">,</span> <a href="#">2</a><span class="noscreen">,</span> <strong>3</strong><span class="noscreen">,</span> <a href="#">4</a><span class="noscreen">,</span> <a href="#">5</a><span class="noscreen">,</span> <a href="#">6</a><span class="noscreen">,</span> <a href="#">7</a><span class="noscreen">,</span> &nbsp; <a href="#">Next &raquo;</a> </p>
      </div>
    </div>
    <div class="title01-bottom"></div>
  </div>
  <!-- /page -->
{% endblock %}