{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>Job Portal</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" media="screen,projection" type="text/css" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/media.css' %}" /> -->

    <link rel="stylesheet" media="print" type="text/css" href="{% static 'css/print.css' %}" />


    <script type="text/javascript" src="{% static 'js/prototype.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tooltip.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/showdetail.js' %}"></script>
</head>

<body>
    
    <div id="" class="container" style="max-width: 710px;">

        <div>
            <div id="top">
                {% if user.is_authenticated %}
                    <p class="nomt">
                        Logged in as {{ user.username }} | <a href="{% url 'portal:home' %}">Home</a> | <a href="javascript:void(0);" onclick="ShowHide('edit-form')">Edit Profile</a> | <a href="{% url 'portal:about' %}">About</a> | <a href="{% url 'logout' %}">Logout</a>
                    </p>
                {% else %}
                    <p class="nomt">
                        <a href="javascript:void(0);" onclick="ShowHide('signup-form')">Login</a> | 
                        <a href="javascript:void(0);" onclick="ShowHide('register-form')">Registration</a> 
                        | <a href="{% url 'portal:home' %}">Home</a>
                        | <a href="{% url 'portal:about' %}">About</a>
                    </p>
                    

                {% endif %}
                
                <!-- Login form -->
                <div id="signup-form" style="display:none;">
                    <div id="signup-form-tray"><a href="javascript:void(0);" onclick="ShowHide('signup-form')">Close
                            [x]</a></div>
                    <div id="signup-form-form">
                        <form action="{% url 'login' %}" method="post">
                            <p class="nom t-center form-contents col-sm-12">
                                <label for="">Login</label>                  
                            </p>
                            <p class="nom t-center form-contents">
                                {{ login_form.username }}
                                {{ login_form.password }}
                                {% csrf_token %}
                                <input type="submit" value="Login" class="search-submit" />
                            </p>

                        </form>
                    </div>
                    <!-- /signup-form-bottom -->
                </div>

                
                <!-- /signup-form -->


                <!-- Register Form -->
                <div id="register-form" style="display:none;">

                    <div id="signup-form-tray"><a href="javascript:void(0);" onclick="ShowHide('register-form')">Close
                        [x]</a>
                    </div>
                    <div id="signup-form-form">
                        
                        <form action="{% url 'register' %}" method="post" class="row">
                            <p class="nom t-center form-contents col-sm-12">
                                <label for="">Register</label>                  
                            </p>
                            
                            <p class="nom t-center form-contents col-sm-6">
                                {{ registration_form.username }}
                                {{ registration_form.category }}
                            </p>
                            <p class="nom t-center form-contents col-sm-6">
                                {{ registration_form.password }}
                                {{ registration_form.password2 }}
                                
                            </p>
                            <p class="nom t-center form-contents">
                                {% csrf_token %}
                                <input type="submit" value="Register" class="search-submit" />
                            </p>
                            
                            

                        </form>
                    </div>
                    <!-- /signup-form-form -->
                    
                    <!-- /signup-form-bottom -->
                </div>
                <!-- Register Form Ends -->

                <!-- Edit Form -->
                <div id="edit-form" style="display:none;">
                    <div id="signup-form-tray"><a href="javascript:void(0);" onclick="ShowHide('edit-form')">Close
                            [x]</a></div>
                    <div id="signup-form-form">
                        <form action="{% url 'profile_edit' %}" method="post">
                            <p class="nom t-center form-contents">
                                <label for="">Category</label>
                                {{ edit_form.category }}
                                {% csrf_token %}
                                <input type="submit" value="Save Changes" class="search-submit" />
                            </p>

                            
                        </form>
                    </div>
                    <!-- /signup-form-form -->
                    
                    <!-- /signup-form-bottom -->
                </div>
                <!-- Edit Form ends -->
            </div>
            <!-- /top -->

        </div>

        <!-- Header -->
        <div id="" style="display: flex; justify-content: space-between; align-items: center;">
            <div>
                <h1 id="logo"><a href="#"><img src="design/logo.gif" alt="" /></a></h1>

            </div>
            <!-- Date -->
            <div class="">
                <p class="nom"><strong>{{ date }}</strong><br />
                </p>
            </div>
            <!-- /date -->
            <hr class="noscreen" />
        </div>
        <hr class="" />
        <!-- /header -->
        <!-- Tabs -->
        
        <!-- /search-tabs -->
        <!-- Search -->
        <div id=""></div>
        <div id="">
            <div id="search-in" class="col-md-12">
                <div id="" style="padding: 25px 0;">
                    <form action="{% url 'portal:search' %}" method="post">
                        <p class="nom t-center">
                            {{search_form.val}}
                            {% csrf_token %}
                            <input type="submit" value="Search" src="{% static 'design/search-button.gif' %}" class="search-submit" />
                        </p>
                    </form>
                </div>

                <hr class="noscreen" />
            </div>
            <!-- /search-in -->
        </div>
        <!-- /search -->

        <script type="text/javascript">
            new Control.Tabs('search-type');
        </script>
        <!-- Content -->


        {% block content %}
        {% endblock %}


        <!-- Footer -->
        <div id="footer">
            <hr class="noscreen" />
            <p class="f-right noprint">
                <a href="https://github.com/ranga-mcmil" target="_blank">Github</a>,
                <a href="https://www.facebook.com/rmukanhairi1/" target="_blank">Facebook</a>,
                <a href="https://www.instagram.com/ranga_mcmil/" target="_blank">Instagram</a>,
                <a href="https://www.youtube.com/channel/UCCVpm6O4Cy8L9nddn5ug-4A" target="_blank">YouTube</a>
            </p>
            <p>&copy;&nbsp;2022 <a href="#">Ranga McMil</a><br />
                <!-- Do you want to remove this backlinks? Look at www.nuviotemplates.com/payment.php -->

            </p>
            <!-- Do you want to remove this backlinks? Look at www.nuviotemplates.com/payment.php -->
        </div>
        <!-- /footer -->
    </div>
    <!-- /main -->
</body>

</html>